*{
  margin:0;
  padding:0;
}

input, button, submit {
  border:none;
}

.App{
  text-align:center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:20px;
}

.gifs-container{
 max-width: 1400px;
}


input{
  padding: 5px;
  border-radius: 0px 15px 15px 0px;
  outline:none;
}


.popular{
  text-align:center;
}

li{
  list-style: none;
  display: inline-block;
  margin-right: 5px;
  padding:5px;
}

a{
  text-decoration:none;
}

 ul{
   padding:0;
 }
 
 .logo{
   margin-bottom:30px;
 }

.searchBar{
  display: flex;
  align-items: space-around;
  justify-content: center;
  margin-bottom:30px;
}

button{
  height:100%;
  background-image: linear-gradient(to bottom, #28a185 75%, #282c34);
  border-radius: 15px 0px 0px 15px;
  color:white;
  padding: 0px 5px;
  width:60px;
  
}

button:hover{
  background-image: linear-gradient(to bottom, #1f856d 75%, #282c34);
  transition: 0.3s all;
}